 html,
 body {
     margin: 0;
     padding: 0;
 }

 body {
     font-size: 16px;
     line-height: 28px;
     color: $black;
     background: $white;
     font-family: $roboto;
     font-weight: 300;
     margin: 0;
     padding: 0;
     height: 100%;
     min-height: 100%;
 }

 html {
     height: 100%;
     min-height: 100%;
 }

 body {
     position: relative;
 }

 ul {
     margin: 0;
     padding: 0
 }

 a {
     text-decoration: none;
     transition: all .3s ease-in-out;
 }

 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 main,
 menu,
 nav,
 section,
 summary {
     display: block;
 }

 audio,
 canvas,
 progress,
 video {
     display: inline-block;
     vertical-align: baseline;
 }

 audio:not([controls]) {
     display: none;
     height: 0;
 }

 [hidden],
 template {
     display: none;
 }

 a:active,
 a:hover {
     outline: 0;
 }

 dfn {
     font-style: italic;
 }

 figure {
     margin: 0;
     padding: 0;
 }

 hr {
     box-sizing: content-box;
 }

 code,
 kbd,
 pre,
 samp {
     font-family: monospace, monospace;
 }

 a,
 button,
 input[type="button"],
 input[type="reset"],
 input[type="submit"] {
     cursor: pointer;
 }

 button[disabled],
 html input[disabled] {
     cursor: default;
 }

 button::-moz-focus-inner,
 input::-moz-focus-inner {
     border: 0;
     padding: 0;
 }

 input {
     line-height: normal;
 }

 input[type="search"]::-webkit-search-cancel-button,
 input[type="search"]::-webkit-search-decoration {
     -webkit-appearance: none;
 }

 fieldset {
     border: 0;
     margin: 0;
     padding: 0;
 }

 legend {
     border: 0;
     padding: 0;
 }

 * {
     box-sizing: border-box;
 }

 *:before,
 *:after {
     box-sizing: border-box;
 }

 .clear:before,
 .clear:after {
     content: '';
     display: table;
 }

 .clear:after {
     clear: both;
 }

 *:focus {
     outline: none;
 }

 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     -webkit-appearance: none;
 }

 iframe {
     border: 0px;
 }

 #root,
 .app,
 body,
 html {
     min-height: 100vh;
 }

 .app {
     overflow: hidden;
     position: relative;
 }

 input[type="text"],
 input[type="email"],
 input[type="url"],
 input[type="password"],
 input[type="search"],
 input[type="number"],
 input[type="tel"],
 input[type="range"],
 input[type="date"],
 input[type="month"],
 input[type="week"],
 input[type="time"],
 input[type="datetime"],
 input[type="datetime-local"],
 input[type="color"] {
     width: 100%;
 }

 textarea {
     width: 100%;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p {
     margin: 0;
     padding: 0;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    font-family: $mont;
 }

 h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    color: $black;
 }

 .test {
    width: 100%;
    height: 100px;  
    background: #767676;
 }


 .container {
    max-width: 1170px;
 }

 .logo {
    width: 100%;

    .img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
 }

 .align-bottom {
    align-items: flex-end;
 }

 .purple-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: $purple-text;
    position: relative;
    padding-bottom: 10px;
    &:after {
        content: '';
        width: 100%;
        height: 1px;
        background: $purple-text;
        position: absolute;
        left: 0;
        bottom: 0px;
    }
    }