.header {
    width: 100%;
    padding: 15px 0;
    position: absolute;
    z-index: 2;

   &-logo {
    max-width: 188px;
   }

   &-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
   }

   &-center {
    display: flex;
    align-items: center;
   }
}