.menu {
    font-size: 12px;
font-weight: 700;
line-height: 14px;
text-transform: uppercase;

&-item {
    display: inline-block;
    padding: 0 42px;

    &:first-child {
        padding-left: 0;
    }
    &:last-child {
        padding-right: 0;
    }
    a {
        color: $black;
        transition: all .3s ease-in-out;

        &:hover {
            color: $white;
            text-decoration: underline;
        }
    }
  }
}